Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cf-for-k8s/**/*
  - foundations/**/cf-operator/**/*
  - foundations/**/harbor/**/*
  - foundations/**/kubecf/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/stratos/**/*
deployment/ci-cd:
  - foundations/**/concourse*/**/*
  - foundations/**/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cert-manager/**/*
  - foundations/**/cluster-api/**/*
  - foundations/**/external-dns*/**/*
  - foundations/**/ingress-nginx/**/*
  - foundations/**/jaeger-operator/**/*
  - foundations/**/prometheus-operator/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/yugabyte/**/*

add scaffolding for secretgen
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/secretgen-controller/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/_ytt_lib/secretgen-controller/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/secretgen-controller.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

vendor secretgen controller
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/_vendir/release.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

secretgen-controller setup for have label removed
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/_ytt_lib/secretgen-controller/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/secretgen-controller.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

include example password yaml file for secretgen
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/secretgen-controller/example-password.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

secretgen-controller experimentation (#183)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/_vendir/release.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/secretgen-controller/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/secretgen-controller/example-password.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/_ytt_lib/secretgen-controller/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/secretgen-controller.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

lets try using quarks-secret to generate a certificate that can be sourced from the cluster
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-app-registry-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/certificate-signed-from-cluster-ca.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

regenerate, rebuild, papa johns
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

update alt names
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/certificate-signed-from-cluster-ca.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

alts
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/certificate-signed-from-cluster-ca.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

eh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/reshaped-secret.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

cf-for-k8s development
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

re-pull latest
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/service-accounts.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/uaa/uaa.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/hack/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/values-production.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

regenerate cf for k8s values
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

latest cf-for-k8s, external-dns, regenerate all values (#186)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/service-accounts.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/uaa/uaa.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/hack/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/values-production.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

trying out removing postgresdb pw in favor of secretgen controller
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/secretgen-optional/postgres-cf-db-admin.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

secretgen functional for the postgres db
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/label-ns-quarks-secret-monitor.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

generate values to no longer have password included
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

example secretgen-controller password replacement of cf-db password (#187)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/secretgen-optional/postgres-cf-db-admin.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/label-ns-quarks-secret-monitor.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

test vendir pathing
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rm upstream gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

vendir time
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rm gitkeeps
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/upstream/LICENSE
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

vendir paths
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd

vendir locked
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

cluster-api
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/bootstrap-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/cluster-api-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/control-plane-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/core-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/vendir.lock.yml
  foundations/docker/localhost/kind/cluster-api-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

vendir fixup
  foundations/docker/localhost/kind/kubecf-demo/vendir.lock.yml
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

vendir fixup
  foundations/docker/localhost/kind/yugabyte-demo/vendir.lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

fixup vendir on cf for k8s
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/Chart.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/README.md
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/templates/_helpers.tpl
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/templates/healthcheck-deployment.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/templates/healthcheck-service.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/templates/rbac.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/templates/serviceaccounts.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/healthcheck/values.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/ups-broker/Chart.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/ups-broker/README.md
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/ups-broker/templates/_helpers.tpl
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/ups-broker/templates/broker-deployment.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/ups-broker/templates/broker-service.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/upstream/charts/ups-broker/values.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/vendir.lock.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

rm docs
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/upstream/harbor-helm/docs/High Availability.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/upstream/harbor-helm/docs/Upgrade.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/upstream/harbor-helm/docs/img/ha.png
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/upstream/harbor-helm/test/install_helm.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/upstream/harbor-helm/test/verify.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

return harbor cert to harbor ns
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

return harbor cert to harbor ns (#189)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

latest cf for k8s
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/eirini/_ytt_lib/eirini/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/kapp-ordering.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

latest cf for k8s (#190)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/eirini/_ytt_lib/eirini/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/kapp-ordering.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

vendir in latest on main
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config-optional/enable-automount-service-account-token.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config-optional/first-party-jwt-istio.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config-optional/ingressgateway-service-nodeport.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/kpack/kpack.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/minio/minio.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio-config/app-sidecar.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio-config/control-plane-network-policy.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio-generated/xxx-generated-istio.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio/generated/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio/generated/xxx-generated-istio.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/routecontroller/routecontroller-configmap.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/uaa/uaa.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/00-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/10-system-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/20-secrets-config-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

regen, rebuild
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

latest cf-for-k8s upstream changes (#191)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config-optional/enable-automount-service-account-token.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config-optional/first-party-jwt-istio.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config-optional/ingressgateway-service-nodeport.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/kpack/kpack.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/minio/minio.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio-config/app-sidecar.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio-config/control-plane-network-policy.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio-generated/xxx-generated-istio.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio/generated/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/istio/generated/xxx-generated-istio.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/_ytt_lib/cf-k8s-networking/config/routecontroller/routecontroller-configmap.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/uaa/uaa.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/00-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/10-system-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/20-secrets-config-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

take out capi-database-encryption-key-secret
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/capi-database-encryption-key-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

regenerate rendered values
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

more examples with secretgen to replace credentials (#192)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/capi-database-encryption-key-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

try out replacing metrics-proxy-certificates
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry
