Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/deployments/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/deployments/cf-for-k8s/**/*
  - foundations/**/deployments/cf-operator/**/*
  - foundations/**/deployments/harbor/**/*
  - foundations/**/deployments/kubecf/**/*
  - foundations/**/deployments/stratos/**/*
deployment/ci-cd:
  - foundations/**/deployments/concourse*/**/*
  - foundations/**/deployments/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/deployments/cert-manager/**/*
  - foundations/**/deployments/external-dns*/**/*
  - foundations/**/deployments/ingress-nginx/**/*
  - foundations/**/deployments/jaeger-operator/**/*
  - foundations/**/deployments/prometheus-operator/**/*
  - foundations/**/deployments/yugabyte/**/*
  - foundations/**/deployments/cluster-api/**/*

harbor in place
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/config/opsfiles/cf-registry-values-harbor.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/config/opsfiles/cf-system-ns-label-name.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/helm/values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-certificates.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-cf-istio-ingressgateway.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

rebuild whats being generated
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf/cf-for-k8s-rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

rm harbor unused opsfiles
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-certificates.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-cf-istio-ingressgateway.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

also update those colors for glam
  .github/labels.yml
Labels: area/deployment-mgmt

cf-for-k8s eks + harbor (#165)
  .github/labels.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf/cf-for-k8s-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/config/opsfiles/cf-registry-values-harbor.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/config/opsfiles/cf-system-ns-label-name.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/helm/values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/config/opsfiles/harbor-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

latest n greatest
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

lock down external-dns vendir
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/external-dns/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/LICENSE
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

hoping this doesnt break
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/external-dns/external-dns-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/.helmignore
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/NOTES.txt
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/clusterrolebinding.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/configmap.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/crd.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/psp-clusterrole.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/psp-clusterrolebinding.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/psp.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/serviceaccount.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/templates/servicemonitor.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/values-production.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/_vendir/github.com/bitnami/charts/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/config/opsfiles/external-dns-ns.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

resolve vendir
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

helm templating for external-dns
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/external-dns-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/external-dns/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/external-dns/external-dns-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

test render
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/clusterrolebinding.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/serviceaccount.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

messy but I like it
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/clusterrolebinding.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/test/helmfile-3c1ae178-external-dns/external-dns/templates/serviceaccount.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

templating attempt
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

testing rendered external-dns
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/clusterrolebinding.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/serviceaccount.yaml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

gitkeep everywhere
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/_rendered/.gitkeep
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

so many layers of templating and templating and templating
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-svc.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/database/database-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/database/database-ss.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/database/database-svc.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-pvc.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-secrets.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-svc.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/nginx/configmap-http.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/nginx/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/nginx/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/portal/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/portal/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/redis/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/redis/statefulset.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-pvc.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-svc.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

helmfile
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

alright cool so that renders it
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/clusterrolebinding.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/serviceaccount.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

what is happening here
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

well that makes vendoring annoying
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-secrets.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

real quick going to re-diff
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/.gitignore
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/.travis.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/CONTRIBUTING.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/Chart.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/docs/High Availability.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/docs/Upgrade.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/docs/img/ha.png
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/test/install_helm.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/test/verify.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/values.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

updating for consumption with vendir hooray, turns out it was just the wrong values being pulled in. tested by comparing helm fetch
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-secrets.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/.travis.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/_vendir/github.com/goharbor/harbor-helm/Chart.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

maybe config goes IN the build folder maybe maybe
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/config/helm/values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/config/opsfiles/external-dns-ns.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/config/helm/values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/config/opsfiles/harbor-namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/config/opsfiles/harbor-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/_vendir/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/config/helm/values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/config/opsfiles/alertmanager-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/config/opsfiles/grafana-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/config/opsfiles/prometheus-operator-namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/config/opsfiles/prometheus-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

regenerating the values are probably not going to work in real life
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-secrets.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-secret.yaml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

eks
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

build updates
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/prometheus-operator/build/build.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

reorganizing folder structure
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/config/cf-manifests/hash-browns-docker-no-routes.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/config/cf-manifests/hash-browns-docker-routes.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/config/cf-manifests/todo-ui-docker-routes.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/config/opsfiles/cf-registry-values-ecr.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/config/opsfiles/cf-registry-values-harbor.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

single deployments folder
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/_rendered/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/_rendered/README.md
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

still figuring things out
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/_rendered/cf-for-k8s-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/build.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

rendery
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

this is all wild
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/_rendered/cf-for-k8s-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/external-dns-rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/config/helm/values.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

not equal
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/_rendered/helmfile/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/external-dns/build/config/helm/values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-cm.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/core/core-secret.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/jobservice/jobservice-secrets.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-dpl.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/harbor/_rendered/helmfile/harbor/templates/registry/registry-secret.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

deploy ctl
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rendered yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/_rendered/_rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/_rendered/cf-for-k8s-rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rendering and such
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/generate-values.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

I am going to scream
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/generate-values.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

please generate into the correct dir
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/build/generate-values.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

credentials please come back bby
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf-values-generated.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

okay I guess these scripts are a little better maybe
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deployments/cf-for-k8s/_rendered/cf-vars.yaml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

about to redo build
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox
