Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/deployments/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/deployments/cf-for-k8s/**/*
  - foundations/**/deployments/cf-operator/**/*
  - foundations/**/deployments/harbor/**/*
  - foundations/**/deployments/kubecf/**/*
  - foundations/**/deployments/stratos/**/*
deployment/ci-cd:
  - foundations/**/deployments/concourse*/**/*
  - foundations/**/deployments/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/deployments/cert-manager/**/*
  - foundations/**/deployments/external-dns*/**/*
  - foundations/**/deployments/ingress-nginx/**/*
  - foundations/**/deployments/jaeger-operator/**/*
  - foundations/**/deployments/prometheus-operator/**/*
  - foundations/**/deployments/yugabyte/**/*
  - foundations/**/deployments/cluster-api/**/*

ytt
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/external-dns/build.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rendering fixup
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

restructure restructure
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/harbor/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config-optional/alertmanager-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config-optional/grafana-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config-optional/harbor-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config-optional/prometheus-virtual-service.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/prometheus-operator/_ytt_lib/prometheus-operator/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/prometheus-operator/prometheus-operator.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

regen
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/harbor/namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

generate
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/generate-values.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

folder hierarchy fixes
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rendered
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

create delete create delete
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

folder restruct
  foundations/aws/us-east-2/sandbox/aegershman-example-0/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/helmfile.yaml
Labels: area/docs, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/external-dns/_vendir/LICENSE
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir python
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/prometheus-operator/_ytt_lib/prometheus-operator/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

bedtime
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

latest
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rebuild, regenerate values
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

regeneration using kapp piping
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config-optional/external-dns-namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/external-dns/external-dns.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

regenerate external-dns with a namespace flag I suppose
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

regenerate with namespace export
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/harbor/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

take off the metadata matching
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/external-dns/external-dns.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

shift script
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

scoot around scripting
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/harbor/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config-optional/harbor-namespace.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/harbor.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

deploy ctl
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

build examples
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

cleaning
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

clean tidy scripts
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

look at all these scripts, wow
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

deploy ctls
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

ytt extra goodies for harbor including the virtual service, though this will still have some dependency ordering that will need to be figured out
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

updated applys
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cf-for-k8s/cf-for-k8s.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

cleaner applys
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

hack folder can hang
  .gitignore
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/hack/generate-values.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/cmd.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/values.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/requirements.txt
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_grafana_dashboards.py
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_prometheus_rules.py
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/cf-for-k8s/build/_vendir/github.com/cloudfoundry/cf-for-k8s/hack/generate-values.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/README.md
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/minikube/README.md
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/minikube/cmd.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/minikube/values.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/requirements.txt
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/sync_grafana_dashboards.py
  foundations/docker/localhost/kind/cf-for-k8s-demo/deployments/prometheus-operator/build/_vendir/github.com/helm/charts/prometheus-operator/stable/prometheus-operator/hack/sync_prometheus_rules.py
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/auxillary

dist is cool too
  .gitignore
Labels: area/deployment-mgmt

state json
  .gitignore
Labels: area/deployment-mgmt

bin dir too
  .gitignore
Labels: area/deployment-mgmt

creds file too
  .gitignore
Labels: area/deployment-mgmt

crednetials folder
  .gitignore
Labels: area/deployment-mgmt

certmanager yanked
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cert-manager/_vendir/cert-manager.crds.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cert-manager/_vendir/cert-manager.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cert-manager/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cert-manager/cert-manager.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

about to redl
  .gitignore
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cert-manager/_vendir/cert-manager.crds.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir
  .gitignore
  foundations/aws/us-east-2/sandbox/aegershman-example-0/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

certmanager
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/build/cert-manager/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-0/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

certmanager scripts
  foundations/aws/us-east-2/sandbox/aegershman-example-0/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox
