Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cf-for-k8s/**/*
  - foundations/**/cf-operator/**/*
  - foundations/**/harbor/**/*
  - foundations/**/kubecf/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/stratos/**/*
deployment/ci-cd:
  - foundations/**/concourse*/**/*
  - foundations/**/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cert-manager/**/*
  - foundations/**/cluster-api/**/*
  - foundations/**/external-dns*/**/*
  - foundations/**/ingress-nginx/**/*
  - foundations/**/jaeger-operator/**/*
  - foundations/**/prometheus-operator/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/yugabyte/**/*

update version bumps
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/_default.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/eirini/_ytt_lib/eirini/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/kpack/default-buildpacks.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/minio/minio.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/external-routing.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/gateway.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/gateway_test.star
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/network-policies.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/postgres/postgres.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/00-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/workloads-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

update version bumps (#199)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/_default.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/eirini/_ytt_lib/eirini/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/kpack/default-buildpacks.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/minio/minio.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/external-routing.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/gateway.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/gateway_test.star
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/networking/network-policies.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/postgres/postgres.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/00-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/workloads-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

concourse built with latest
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/.gitignore
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/web-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/.gitignore
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/web-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-daemonset.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-service-internal.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-servicemonitor.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

yugabump
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/Chart.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/app-readme.md
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/values.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/helm-values.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/yugabyte/_ytt_lib/yugabyte/rendered.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

kubecf 2.4.0 required turning off eirini which I do not understand but okay
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/helm-values.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry, deployment/auxillary

cert mgr 1.x, bump quarks secret chart
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-test-selfsigned.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

rm cfd
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/log-cache-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:kind, deployment/cloudfoundry

optional toggles
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-optional-toggles.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

build all
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

cf built
  .github/dependabot.yml
  .github/workflows/configure-repo-labels.yml
Labels: area/deployment-mgmt

v3.0.0
  .github/workflows/configure-repo-labels.yml
Labels: area/deployment-mgmt

certificate regeneration for both workloads and system
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-system-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-system-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-workloads-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-workloads-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

pull in latest cf
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/20-secrets-config-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

certificate regeneration for both workloads and system (#201)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/values/20-secrets-config-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-system-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-system-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-workloads-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-workloads-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

cf for k8s version bumps across the board
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

rebuild all except cf for k8s itself
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/_ytt_lib/secretgen-controller/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

regenerate values based on istio kbld
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-istio-proxy-config.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-optional-toggles.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

vendir concourse demo
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/web-api-svc.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/web-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/web-ingress.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/web-secrets.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/templates/web-worker-gateway-svc.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/web-api-svc.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/web-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/web-ingress.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/web-secrets.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/templates/web-worker-gateway-svc.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/role.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/rolebindings.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values-production.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-daemonset.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-service-metrics.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/default-backend-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

build all concourse
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

rebuild regenerate content
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-optional-toggles.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/harbor/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/minibroker/_ytt_lib/minibroker/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/service-catalog/_ytt_lib/service-catalog/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

yugabyte bumped
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/Chart.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/app-readme.md
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/service.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/values.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/helm-values.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/yugabyte/_ytt_lib/yugabyte/rendered.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

kubecf build
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/cf-operator/_ytt_lib/cf-operator/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry, deployment/auxillary

regenerate
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/capi-database-encryption-key-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/postgres-cf-db-admin.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

keep cert gen
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

keep other files, just dont use secretgen
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/capi-database-encryption-key-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/postgres-cf-db-admin.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

regen
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

test-pull-request
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/README.md
Labels: area/docs, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

dependabot
  .github/dependabot.yml
Labels: area/deployment-mgmt

dependabot
  .github/dependabot.yml
Labels: area/deployment-mgmt

sort lines
  .editorconfig
Labels: area/deployment-mgmt

rm common folders
  foundations/_common/.gitkeep
  foundations/aws/_common/.gitkeep
  foundations/aws/us-east-2/_common/.gitkeep
  foundations/aws/us-east-2/corp/_common/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/README.md
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/build/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config-optional/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config-optional/_common/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config/.gitkeep
  foundations/aws/us-east-2/sandbox/_common/.gitkeep
  foundations/docker/_common/.gitkeep
  foundations/docker/localhost/_common/.gitkeep
  foundations/docker/localhost/minikube/_common/.gitkeep
  foundations/docker/localhost/minikube/misc-placeholder-env/README.md
  foundations/docker/localhost/minikube/misc-placeholder-env/cluster/.gitkeep
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:minikube

move kind yaml into individual folders
  foundations/docker/localhost/kind/cf-for-k8s-demo/kind.config.yaml
  foundations/docker/localhost/kind/kubecf-demo/kind.config.yaml
  foundations/docker/localhost/kind/yugabyte-demo/kind.config.yaml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

kind tidyup
  deploy-ctl.sh
Labels: area/deployment-mgmt

Tidy chores, less bother with env promotions (#206)
  .editorconfig
  .github/dependabot.yml
  deploy-ctl.sh
  foundations/_common/.gitkeep
  foundations/aws/_common/.gitkeep
  foundations/aws/us-east-2/_common/.gitkeep
  foundations/aws/us-east-2/corp/_common/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/README.md
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/build/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config-optional/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config-optional/_common/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config/.gitkeep
  foundations/aws/us-east-2/sandbox/_common/.gitkeep
  foundations/docker/_common/.gitkeep
  foundations/docker/localhost/_common/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/kind.config.yaml
  foundations/docker/localhost/kind/kubecf-demo/kind.config.yaml
  foundations/docker/localhost/kind/yugabyte-demo/kind.config.yaml
  foundations/docker/localhost/minikube/_common/.gitkeep
  foundations/docker/localhost/minikube/misc-placeholder-env/README.md
  foundations/docker/localhost/minikube/misc-placeholder-env/cluster/.gitkeep
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube

kind image bump
  foundations/docker/localhost/kind/cf-for-k8s-demo/kind.config.yaml
  foundations/docker/localhost/kind/kubecf-demo/kind.config.yaml
  foundations/docker/localhost/kind/yugabyte-demo/kind.config.yaml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

about to vendor latest
  foundations/docker/localhost/kind/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

regen
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
Labels: foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

rebuild, regenerate
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

regenerated and re-set helm charts stable
  deploy-ctl.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/harbor/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/service-catalog/_ytt_lib/service-catalog/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

revendor
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/hooks/setup-credentials-job.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/service.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/setup-credentials-configmap.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/values.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config-optional/yugabyte/.gitkeep
  foundations/docker/localhost/kind/yugabyte-demo/kind.config.yaml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary
