Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

include vendiring of quarks-secret
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/LICENSE
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/NOTICE
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/.helmignore
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/Chart.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/templates/NOTES.txt
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/templates/cluster-role.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/templates/crds.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/templates/operator.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/templates/service-account.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/deploy/helm/quarks-secret/values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

adding some helm values
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

quarks-secret rendering
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

helm values reference updates
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

use quarks-secret specific namespace
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/quarks-secret.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

include example secret
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/quarks-secret/example-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

include quarks-secret certificate generated from cluster ca
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/quarks-secret/example-certificate-signed-from-cluster-ca.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/quarks-secret/example-password.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/quarks-secret/example-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cluster/cf-for-k8s/**/*
  - foundations/**/cluster/cf-operator/**/*
  - foundations/**/cluster/harbor/**/*
  - foundations/**/cluster/kubecf/**/*
  - foundations/**/cluster/stratos/**/*
deployment/ci-cd:
  - foundations/**/cluster/concourse*/**/*
  - foundations/**/cluster/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cluster/cert-manager/**/*
  - foundations/**/cluster/external-dns*/**/*
  - foundations/**/cluster/ingress-nginx/**/*
  - foundations/**/cluster/jaeger-operator/**/*
  - foundations/**/cluster/prometheus-operator/**/*
  - foundations/**/cluster/yugabyte/**/*
  - foundations/**/cluster/cluster-api/**/*
