Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cluster/cf-for-k8s/**/*
  - foundations/**/cluster/cf-operator/**/*
  - foundations/**/cluster/harbor/**/*
  - foundations/**/cluster/kubecf/**/*
  - foundations/**/cluster/stratos/**/*
deployment/ci-cd:
  - foundations/**/cluster/concourse*/**/*
  - foundations/**/cluster/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cluster/cert-manager/**/*
  - foundations/**/cluster/external-dns*/**/*
  - foundations/**/cluster/ingress-nginx/**/*
  - foundations/**/cluster/jaeger-operator/**/*
  - foundations/**/cluster/prometheus-operator/**/*
  - foundations/**/cluster/yugabyte/**/*
  - foundations/**/cluster/cluster-api/**/*

folder refactor
  foundations/aws/us-east-2/sandbox/aegershman-example-1/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/helm-values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/helm-values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/external-dns/helm-values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/ingress-nginx/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/ingress-nginx/helm-values.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config-optional/.gitkeep
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-web/concourse-web.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-workers/concourse-workers.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/external-dns/external-dns.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/ingress-nginx/ingress-nginx.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

labels
  .github/labels.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir
  foundations/aws/us-east-2/sandbox/aegershman-example-1/helmfile.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir vendir
  foundations/aws/us-east-2/sandbox/aegershman-example-1/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/_vendir/.gitignore
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/_vendir/.gitignore
  foundations/aws/us-east-2/sandbox/aegershman-example-1/eks-cluster.yaml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

deployments
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/ingress-nginx/build.sh
  foundations/aws/us-east-2/sandbox/aegershman-example-1/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

revendir
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/_vendir/CHANGELOG.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/_vendir/CODE_OF_CONDUCT.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/_vendir/OWNERS
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/_vendir/requirements.lock
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-web/_vendir/requirements.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/_vendir/CHANGELOG.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/_vendir/CODE_OF_CONDUCT.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/_vendir/OWNERS
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/_vendir/requirements.lock
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/build/concourse-workers/_vendir/requirements.yaml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

config hold
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

template definitions
  foundations/aws/us-east-2/sandbox/aegershman-example-1/README.md
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-web/concourse-web.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/concourse-workers/concourse-workers.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/external-dns/external-dns.yml
  foundations/aws/us-east-2/sandbox/aegershman-example-1/cluster/config/ingress-nginx/ingress-nginx.yml
Labels: area/docs, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

aegershman
  Taskfile.yml
  foundations/aws/us-east-2/corp/aegershman-demo/README.md
  foundations/aws/us-east-2/corp/aegershman-demo/cluster/.gitkeep
  foundations/aws/us-east-2/corp/misc-demo/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
  foundations/aws/us-east-2/sandbox/concourse-demo/deploy-ctl.sh
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, foundation/env:corp

tidy
  foundations/aws/us-east-2/corp/aegershman-demo/README.md
  foundations/aws/us-east-2/corp/misc-placeholder-env/README.md
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/.gitkeep
  foundations/docker/localhost/minikube/example-cluster-1/README.md
  foundations/docker/localhost/minikube/misc-placeholder-env/README.md
  foundations/docker/localhost/minikube/misc-placeholder-env/cluster/.gitkeep
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:corp, foundation/env:minikube

vendir tidyup
  foundations/docker/localhost/kind/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

yugabyte
  foundations/docker/localhost/kind/cf-for-k8s-demo/helmfile.yaml
  foundations/docker/localhost/kind/yugabyte-demo/Taskfile.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/.gitkeep
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/build.sh
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/helm-values.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config-optional/.gitkeep
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/.gitkeep
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/yugabyte/_ytt_lib/yugabyte/rendered.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/yugabyte/yugabyte.yml
  foundations/docker/localhost/kind/yugabyte-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/yugabyte-demo/helmfile.yaml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

yb cluster vendir
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/Chart.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/README.md
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/app-readme.md
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/expose-all-shared.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/expose-all.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/generate_kubeconfig.py
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/questions.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/templates/NOTES.txt
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/templates/_helpers.tpl
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/templates/service.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/values.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/stable/yugabyte/yugabyte-rbac.yaml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.lock.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

tektoncd demo lock
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/jaeger-operator/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/stratos/build.sh
  foundations/docker/localhost/kind/tektoncd-demo/Taskfile.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/build.sh
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/helm-values.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/tektoncd-dashboard/_vendir/tekton-dashboard-release.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/tektoncd-dashboard/build.sh
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/tektoncd-pipeline/_vendir/release.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/tektoncd-pipeline/build.sh
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/.gitkeep
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tekton-dashboard-ingress.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-pipeline-config-artifact-pvc.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-pipeline-echo.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config/ingress-nginx/ingress-nginx.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config/tektoncd-dashboard/_ytt_lib/tektoncd-dashboard/rendered.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config/tektoncd-dashboard/tektoncd-dashboard.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config/tektoncd-pipeline/_ytt_lib/tektoncd-pipeline/rendered.yml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config/tektoncd-pipeline/tektoncd-pipeline.yml
  foundations/docker/localhost/kind/tektoncd-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/tektoncd-demo/helmfile.yaml
  foundations/docker/localhost/kind/tektoncd-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:kind

kubecf demo
  foundations/docker/localhost/kind/kubecf-demo/Taskfile.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/helm-values.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/helm-values.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/helm-values.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/helm-values.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/.gitkeep
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/cf-manifests/hash-browns-docker-no-routes.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/cf-manifests/hash-browns-docker-routes.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/cf-manifests/todo-ui-docker-routes.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/cf-operator/_ytt_lib/cf-operator/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/cf-operator/cf-operator.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/ingress-nginx.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/kubecf.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/prometheus-operator/_ytt_lib/prometheus-operator/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/prometheus-operator/prometheus-operator.yml
  foundations/docker/localhost/kind/kubecf-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/kubecf-demo/helmfile.yaml
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

vendor vendir vichi
  foundations/docker/localhost/kind/kubecf-demo/vendir.lock.yml
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

vendoring
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

ingress and unpack
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/.helmignore
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/Chart.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/README.md
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/.helmignore
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/Chart.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/README.md
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/NOTES.txt
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/_helpers.tpl
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/cluster-role.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/operator.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/persist-output-cluster-role.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/service-account.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/templates/single-namespace.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-job/values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/.helmignore
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/Chart.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/README.md
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/templates/NOTES.txt
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/templates/_helpers.tpl
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/templates/cluster-role.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/templates/operator.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/templates/service-account.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/charts/quarks-secret/values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/imagelist.txt
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/requirements.lock
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/requirements.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/NOTES.txt
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/_helpers.tpl
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/cluster-role.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/operator.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/role-webhook.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/service-account-pull-secret.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/service-account.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/service.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/templates/single-namespace.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/cf-operator/values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/OWNERS
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/README.md
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

prometheus operator requirements moved
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/vendir.yml
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
  foundations/docker/localhost/kind/tektoncd-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:kind

excludepath
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/ci/01-provision-crds-values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/ci/02-test-without-crds-values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/README.md
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/README.md
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/cmd.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/requirements.txt
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_grafana_dashboards.py
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_prometheus_rules.py
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.lock
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.yaml
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, foundation/env:minikube

build and config
  foundations/docker/localhost/kind/kpack-harbor-demo/Taskfile.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/harbor/build.sh
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/harbor/helm-values.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/ingress-nginx/build.sh
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/ingress-nginx/helm-values.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/kpack/_vendir/release-0.0.9.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/kpack/build.sh
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/kpack/cluster_builder.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/kpack/docker-registry-secrets.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/kpack/git-secrets.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/build/kpack/service-account.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/.gitkeep
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/kpack-image-spring-petclinic.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config/harbor/harbor.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config/ingress-nginx/ingress-nginx.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config/kpack/_ytt_lib/kpack/rendered.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config/kpack/kpack.yml
  foundations/docker/localhost/kind/kpack-harbor-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/kpack-harbor-demo/helmfile.yaml
  foundations/docker/localhost/kind/kpack-harbor-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

scoot the concourse-demo around in kind
  foundations/docker/localhost/kind/concourse-demo/Taskfile.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/build/concourse-web/build.sh
  foundations/docker/localhost/kind/concourse-demo/cluster/build/concourse-web/helm-values.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/build/concourse-workers/build.sh
  foundations/docker/localhost/kind/concourse-demo/cluster/build/concourse-workers/helm-values.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/build/ingress-nginx/build.sh
  foundations/docker/localhost/kind/concourse-demo/cluster/build/ingress-nginx/helm-values.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/build/jaeger-operator/build.sh
  foundations/docker/localhost/kind/concourse-demo/cluster/build/jaeger-operator/helm-values.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/build/prometheus-operator/build.sh
  foundations/docker/localhost/kind/concourse-demo/cluster/build/prometheus-operator/helm-values.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/.gitkeep
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/concourse-example-pipeline/params.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/concourse-example-pipeline/pipeline.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/concourse-web/concourse-web.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/concourse-workers/concourse-workers.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/ingress-nginx/ingress-nginx.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/jaeger-operator/_ytt_lib/jaeger-operator/rendered.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/jaeger-operator/jaeger-operator.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/prometheus-operator/_ytt_lib/prometheus-operator/rendered.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config/prometheus-operator/prometheus-operator.yml
  foundations/docker/localhost/kind/concourse-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/concourse-demo/helmfile.yaml
  foundations/docker/localhost/kind/concourse-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

markdown readme
  README.md
Labels: area/docs

note
  README.md
Labels: area/docs

rm on some of the prometheus pulls
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/ci/01-provision-crds-values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/ci/02-test-without-crds-values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/cmd.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/requirements.txt
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_grafana_dashboards.py
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_prometheus_rules.py
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.lock
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.yaml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, foundation/env:minikube

vendir latest
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/controllers_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/service-accounts.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/_default.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/kpack/_ytt_lib/kpack/kpack-rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/uaa/uaa.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/hack/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

latest generate-values
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

regenerate, rebuild
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

readme
  README.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

take out letsencrypt prod for the moment
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

give config optional its own individual folders
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-test-selfsigned.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-manifests/hash-browns-docker-no-routes.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-manifests/hash-browns-docker-routes.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-manifests/todo-ui-docker-routes.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/external-dns/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/external-dns/external-dns-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-virtual-service.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/alertmanager-virtual-service.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/grafana-virtual-service.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-virtual-service.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

common for config-optional
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/_common/.gitkeep
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

scoot ytting
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-for-k8s-cert-manager-system-certificate.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

trying out using cert-manager certs instead of generated
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-for-k8s-cert-manager-system-certificate.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

cf-system workload
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-for-k8s-cert-manager-system-certificate-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-for-k8s-cert-manager-system-certificate-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

staging
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

manager
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-certificates-from-cert-manager.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rebuild
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rebuild redux
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

add in another yaml delimter for certissuer
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-for-k8s-cert-manager-system-certificate-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox
