Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cf-for-k8s/**/*
  - foundations/**/cf-operator/**/*
  - foundations/**/harbor/**/*
  - foundations/**/kubecf/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/stratos/**/*
deployment/ci-cd:
  - foundations/**/concourse*/**/*
  - foundations/**/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cert-manager/**/*
  - foundations/**/cluster-api/**/*
  - foundations/**/external-dns*/**/*
  - foundations/**/ingress-nginx/**/*
  - foundations/**/jaeger-operator/**/*
  - foundations/**/prometheus-operator/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/yugabyte/**/*

yugabyte version bumps
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/manual/kbld-lock.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

kubecf
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

re-build for kubecf
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/cf-operator/_ytt_lib/cf-operator/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry, deployment/auxillary

deploy fixups for kubecf
  foundations/docker/localhost/kind/kubecf-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

concourse demo bumps
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd

binami common
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/.helmignore
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_affinities.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_capabilities.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_errors.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_images.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_labels.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_names.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_secrets.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_storage.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_tplvalues.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_utils.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_warnings.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_cassandra.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_mariadb.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_mongodb.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_postgresql.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_redis.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_validations.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

rebuild credentials
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

reimage
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

rebuild all
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

eks cluster bumps, vendor bumps
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/eks-cluster.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/.helmignore
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_affinities.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_capabilities.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_errors.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_images.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_labels.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_names.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_secrets.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_storage.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_tplvalues.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_utils.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/_warnings.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_cassandra.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_mariadb.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_mongodb.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_postgresql.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_redis.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/templates/validations/_validations.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/common/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/Chart.lock
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/secret.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/service.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values-production.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/eks-cluster.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

kindest latest node v1.24.1
  foundations/docker/localhost/kind/cf-for-k8s-demo/kind.config.yaml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

archive note
  README.md
Labels: area/docs
