Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

cert-manager can be used
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

cert-manager operator files for cert manager usage
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-test-selfsigned.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

staging
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

annotations on creation
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-staging.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

cert-manager operator files for cert manager usage (#174)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-letsencrypt-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cert-manager/cert-manager-test-selfsigned.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/system-certificate-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir sync
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir sync (#175)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir with requirements
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.lock
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

build updates
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/prometheus-operator/prometheus-operator-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/prometheus-operator/_ytt_lib/prometheus-operator/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/prometheus-operator/prometheus-operator.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

get prometheus-operator out
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

pull latest, build all
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/kpack/_ytt_lib/kpack/kpack-rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

more config. more
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config-optional/concourse-web/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config-optional/concourse-workers/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config-optional/external-dns/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config-optional/ingress-nginx/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

pull latest
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-customnodeport-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-headers-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-internal-lb-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-nodeport-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-tcp-udp-configMapNamespace-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-tcp-udp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-tcp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-default-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-metrics-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-psp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-webhook-and-psp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-webhook-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-autoscaling-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-customnodeport-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-default-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-headers-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-internal-lb-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-metrics-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-nodeport-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-psp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-tcp-udp-configMapNamespace-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-tcp-udp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-tcp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-webhook-and-psp-values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-webhook-values.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

config-optional
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-hash-browns-service-monitor.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-manifests/hash-browns-docker-no-routes.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-manifests/hash-browns-docker-routes.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-manifests/todo-ui-docker-routes.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-system-ns-label-cf-system-ns.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/cf-system-ns-label-name.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/harbor/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-certificates.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cf-istio-ingressgateway.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-namespace.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-virtual-service.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/jaeger-operator/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/jaeger-operator/jaeger-operator-namespace.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/jaeger-operator/jaeger-virtual-service.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/minibroker/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/minibroker/minibroker-namespace.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/alertmanager-virtual-service.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/grafana-virtual-service.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-network-policy.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-operator-namespace.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-operator-ns-label-cf-system-ns.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-operator-ns-label-name.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-sidecar-egress.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/prometheus-operator/prometheus-virtual-service.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/service-catalog/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/service-catalog/catalog-namespace.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/stratos/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

scooting around
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/ci/01-provision-crds-values.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/ci/02-test-without-crds-values.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/README.md
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/README.md
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/cmd.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/minikube/values.yaml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/requirements.txt
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_grafana_dashboards.py
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/hack/sync_prometheus_rules.py
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.lock
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/_vendir/stable/prometheus-operator/requirements.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/config-optional/cluster-api/.gitkeep
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/concourse/.gitkeep
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/concourse/example-pipeline/params.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/concourse/example-pipeline/pipeline.yml
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/ingress-nginx/.gitkeep
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/jaeger-operator/.gitkeep
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/prometheus-operator/.gitkeep
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/harbor/.gitkeep
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/ingress-nginx/.gitkeep
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/kpack/.gitkeep
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/kpack/kpack-image-spring-petclinic.yaml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, foundation/env:minikube

gitkeep
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/cf-operator/.gitkeep
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/ingress-nginx/.gitkeep
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/kubecf/.gitkeep
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/kubecf/cf-manifests/hash-browns-docker-no-routes.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/kubecf/cf-manifests/hash-browns-docker-routes.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/kubecf/cf-manifests/todo-ui-docker-routes.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/prometheus-operator/.gitkeep
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

cleanup
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-customconfig-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-customnodeport-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-headers-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-internal-lb-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-nodeport-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-tcp-udp-configMapNamespace-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-tcp-udp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/daemonset-tcp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-default-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-metrics-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-psp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-webhook-and-psp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deamonset-webhook-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-autoscaling-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-customconfig-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-customnodeport-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-default-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-headers-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-internal-lb-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-metrics-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-nodeport-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-psp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-tcp-udp-configMapNamespace-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-tcp-udp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-tcp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-webhook-and-psp-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/build/ingress-nginx/_vendir/charts/ingress-nginx/ci/deployment-webhook-values.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/ingress-nginx/.gitkeep
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-dashboard/.gitkeep
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-dashboard/tekton-dashboard-ingress.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-pipeline/.gitkeep
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-pipeline/tektoncd-pipeline-config-artifact-pvc.yaml
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/tektoncd-pipeline/tektoncd-pipeline-echo.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config-optional/yugabyte/.gitkeep
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

latest and great
  Taskfile.yml
  deploy-ctl.sh
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/build/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config-optional/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config-optional/_common/.gitkeep
  foundations/aws/us-east-2/corp/misc-placeholder-env/cluster/config/.gitkeep
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/cluster-api-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/concourse-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/kpack-harbor-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/kubecf-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/tektoncd-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config-optional/_common/.gitkeep
  foundations/docker/localhost/minikube/_common/.gitkeep
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube

cf for k8s build script updated
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
Labels: foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

stratos helm etc
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/harbor/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/jaeger-operator/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/jaeger-operator/helm-values.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/stratos/build.sh
Labels: foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

deploy update
  foundations/docker/localhost/kind/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

build
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
Labels: foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

updating localhost build scripts (#178)
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/harbor/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/jaeger-operator/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/jaeger-operator/helm-values.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/prometheus-operator/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/stratos/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

vendir locking
  foundations/docker/localhost/kind/kubecf-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

gloop
  foundations/docker/localhost/kind/cluster-api-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

pull and rebuild latest cf for k8s
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/NOTICE
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

ng cleanup
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/eks-cluster.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

eks-cluster yaml fixup
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/eks-cluster.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

bunch of tags and junk
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/eks-cluster.yaml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

vendir bump
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/ccng-config.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/controllers_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/opi-secrets.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/service-accounts.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/eirini/eirini.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/kpack/kapp-order.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/kpack/kapp-wait-rules.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/100-metric-proxy-service-account.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/400-metric-proxy-service.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/50-metric-proxy-secrets.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/500-metric-proxy-deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/LICENSE
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/NOTICE
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/metrics/_ytt_lib/metric-proxy/values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/cf-for-k8s/config/z-kapp-versioned-creds.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/bitnami/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/.gitignore
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/.travis.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/CONTRIBUTING.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/docs/High Availability.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/docs/Upgrade.md
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/docs/img/ha.png
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/test/install_helm.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/harbor-helm/test/verify.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

build all
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

regenerate, rerender
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

app registry values redux
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-app-registry-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-registry-values-ecr.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

aws annotation
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/cf-for-k8s/istio-ingressgateway-aws-nlb.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

rm harbor ns
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/external-dns/external-dns-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-namespace.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

incorporate istio ingressgateway
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

include cert manager staging for harbor and use a load balancer
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

harbor prod
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

include cert manager staging for harbor and use a load balancer svc (#181)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-prod.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/harbor/harbor-cert-manager-staging.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

quarks-secret experimentation
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config-optional/quarks-secret/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/quarks-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cluster/cf-for-k8s/**/*
  - foundations/**/cluster/cf-operator/**/*
  - foundations/**/cluster/harbor/**/*
  - foundations/**/cluster/kubecf/**/*
  - foundations/**/cluster/stratos/**/*
deployment/ci-cd:
  - foundations/**/cluster/concourse*/**/*
  - foundations/**/cluster/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cluster/cert-manager/**/*
  - foundations/**/cluster/external-dns*/**/*
  - foundations/**/cluster/ingress-nginx/**/*
  - foundations/**/cluster/jaeger-operator/**/*
  - foundations/**/cluster/prometheus-operator/**/*
  - foundations/**/cluster/yugabyte/**/*
  - foundations/**/cluster/cluster-api/**/*
