Repository aegershman/deployments, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/iaas:docker, foundation/region:us-east-2, foundation/region:localhost, foundation/env:sandbox, foundation/env:corp, foundation/env:kind, foundation/env:minikube, deployment/cloudfoundry, deployment/ci-cd, deployment/auxillary

namespace
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/capi-database-encryption-key-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/postgres-cf-db-admin.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

regen cf creds
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

include secret template
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

mpc
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

regex
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

hold
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/log-cache-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

put out certs log cache
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/log-cache-certificates.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

use logcache certs
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/log-cache-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

rebuild
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

Secretgen for certain certificates, e.g. log-cache, metric-proxy, etc. (#193)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/capi-database-encryption-key-secret.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/log-cache-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/metrics-proxy-certificates.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/secretgen-optional/postgres-cf-db-admin.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/generate-values.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

vendir sync with latest upstream
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/_vendir/upstream/cert-manager.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/_default.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

regenerate values
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

rebuild cf values
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

version bumps (#194)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/_vendir/upstream/cert-manager.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/_default.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-values-generated.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/cf-vars.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/.gitkeep
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

bumps across the board
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/api_server_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/ccdb-migrate-job.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/ccng-config.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/clock_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/deployment_updater_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/secrets-file.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/secrets.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/worker_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

cf-for-k8s bumps (#196)
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/api_server_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/ccdb-migrate-job.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/ccng-config.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/clock_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/deployment_updater_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/secrets-file.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/secrets.lib.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/templates/worker_deployment.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/_ytt_lib/capi-k8s-release/values/images.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/upstream/cf-for-k8s/config/capi/capi.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/helm-values.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/quarks-secret/_ytt_lib/quarks-secret/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

bump latest external dns
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

concourse and ingress nginx bumps
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/helm-values.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/helm-values.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/helm-values.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

pull latest vendir
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/upstream/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/upstream/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/README.md
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/clusterrole.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/templates/deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values-production.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/upstream/bitnami/external-dns/values.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/Chart.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/_helpers.tpl
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-deployment.yaml
  foundations/aws/us-east-2/sandbox/concourse-demo/vendir.lock.yml
Labels: area/docs, area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

rebuild on content
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

kubecf regeneration
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/build.sh
  foundations/docker/localhost/kind/kubecf-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/kubecf-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry, deployment/auxillary

proper regenerate kubecf
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/Chart.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/charts/quarks-secret/Chart.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/charts/quarks-secret/templates/cluster-role.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/charts/quarks-secret/templates/crds.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/charts/quarks-secret/values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/imagelist.txt
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/requirements.lock
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/requirements.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/upstream/cf-operator/values.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/Chart.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/_helpers.tpl
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/upstream/charts/ingress-nginx/templates/controller-deployment.yaml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/cf-operator/_ytt_lib/cf-operator/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/vendir.lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry, deployment/auxillary

kubecf regenerated password
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
Labels: foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

generate on yugabyte
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/generate_kubeconfig.py
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/master-servicemonitor.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/service.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/templates/tserver-servicemonitor.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/upstream/stable/yugabyte/values.yaml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/build.sh
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/helm-values.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/yugabyte/_ytt_lib/yugabyte/rendered.yml
  foundations/docker/localhost/kind/yugabyte-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/yugabyte-demo/vendir.lock.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

pull in latest clusterapi
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/bootstrap-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/cluster-api-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/control-plane-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/_vendir/upstream/cluster-api/core-components.yaml
  foundations/docker/localhost/kind/cluster-api-demo/cluster/build/cluster-api/build.sh
  foundations/docker/localhost/kind/cluster-api-demo/deploy-ctl.sh
  foundations/docker/localhost/kind/cluster-api-demo/vendir.lock.yml
  foundations/docker/localhost/kind/cluster-api-demo/vendir.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

cert-manager kbld lock
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cert-manager/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cert-manager/_ytt_lib/cert-manager/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

external-dns build fixup
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/auxillary

fixup on harbor
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/harbor/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

output locked harbor
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

including lock on quarks-secret
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/quarks-secret/build.sh
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

secretgen controller with locked output
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/secretgen-controller/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/secretgen-controller/_ytt_lib/secretgen-controller/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry, deployment/auxillary

kbld on cf for k8s
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-istio-proxy-config.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/aws/us-east-2/sandbox/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/cloudfoundry

introduce kbld on concourse-demo
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-web/build.sh
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/concourse-workers/build.sh
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/external-dns/build.sh
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/build/ingress-nginx/build.sh
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-web/_ytt_lib/concourse-web/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/concourse-workers/_ytt_lib/concourse-workers/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/external-dns/_ytt_lib/external-dns/rendered.yml
  foundations/aws/us-east-2/sandbox/concourse-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:aws, foundation/region:us-east-2, foundation/env:sandbox, deployment/ci-cd, deployment/auxillary

cf for k8s local
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-istio-proxy-config.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/cf-for-k8s/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/cf-for-k8s/_ytt_lib/cf-for-k8s/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

regenerate harbor
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/harbor/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/harbor/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

minibroker
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/minibroker/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/minibroker/_ytt_lib/minibroker/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

service-catalog
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/build/service-catalog/build.sh
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/service-catalog/_ytt_lib/service-catalog/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind

rebuild, updated on cf for k8s
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/harbor/_ytt_lib/harbor/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/cluster/config/service-catalog/_ytt_lib/service-catalog/rendered.yml
  foundations/docker/localhost/kind/cf-for-k8s-demo/deploy-ctl.sh
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry

add kbld on kubecf
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/cf-operator/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/ingress-nginx/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/build/kubecf/build.sh
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/cf-operator/_ytt_lib/cf-operator/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/ingress-nginx/_ytt_lib/ingress-nginx/rendered.yml
  foundations/docker/localhost/kind/kubecf-demo/cluster/config/kubecf/_ytt_lib/kubecf/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/cloudfoundry, deployment/auxillary

resolve on yugabyte docker image
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/_vendir/manual/kbld-lock.yml
  foundations/docker/localhost/kind/yugabyte-demo/cluster/build/yugabyte/build.sh
  foundations/docker/localhost/kind/yugabyte-demo/cluster/config/yugabyte/_ytt_lib/yugabyte/rendered.yml
Labels: area/deployment-mgmt, foundation/iaas:docker, foundation/region:localhost, foundation/env:kind, deployment/auxillary

.github/labeler.yml:

# https://github.com/actions/labeler
---
area/docs:
  - ./docs/**/*
  - ./**/*README*
  - LICENSE
area/deployment-mgmt:
  - .github/**/*
  - .editorconfig
  - .gitignore
  - ./**/.gitignore
  - ./**/.gitkeep
  - ./**/vendir.yml
  - ./**/vendir.lock.yml
  - ./**/_vendir/**/*
  - ./**/Taskfile*
  - ./**/helmfile.yml
  - ./**/deploy-ctl.sh
  - ./**/kind.config.yaml
  - ./**/eks-cluster.yaml
  - foundations/**/cluster-api/**/*

foundation/iaas:aws:
  - foundations/aws/**/*
foundation/iaas:docker:
  - foundations/docker/**/*

foundation/region:us-east-2:
  - foundations/**/us-east-2/**/*
foundation/region:localhost:
  - foundations/**/localhost/**/*

foundation/env:sandbox:
  - foundations/**/sandbox/**/*
foundation/env:corp:
  - foundations/**/corp/**/*
foundation/env:kind:
  - foundations/**/kind/**/*
foundation/env:minikube:
  - foundations/**/minikube/**/*

deployment/cloudfoundry:
  - foundations/**/cf-for-k8s/**/*
  - foundations/**/cf-operator/**/*
  - foundations/**/harbor/**/*
  - foundations/**/kubecf/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/stratos/**/*
deployment/ci-cd:
  - foundations/**/concourse*/**/*
  - foundations/**/tektoncd*/**/*
deployment/auxillary:
  - foundations/**/cert-manager/**/*
  - foundations/**/cluster-api/**/*
  - foundations/**/external-dns*/**/*
  - foundations/**/ingress-nginx/**/*
  - foundations/**/jaeger-operator/**/*
  - foundations/**/prometheus-operator/**/*
  - foundations/**/quarks-secret/**/*
  - foundations/**/secretgen-controller/**/*
  - foundations/**/yugabyte/**/*
